- page_title 'Integrations'

.row.prepend-top-default
  .col-lg-3
    = render 'shared/web_hooks/title_and_docs', hook: @hook

  .col-lg-9.append-bottom-default
    = form_for [@group, @hook], as: :hook, url: group_hook_path(@group, @hook) do |f|
      = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }

      = f.submit 'Save changes', class: 'btn btn-success'
      = render 'shared/web_hooks/test_button', hook: @hook
      = link_to 'Remove', group_hook_path(@group, @hook), method: :delete, class: 'btn btn-remove float-right', data: { confirm: 'Are you sure?' }
